@import "./_variables";
@import "./_keyframes";


body {
    @include body;
}

html {
    @include bodyDefault;
}

main {
    height: 100%;

    nav {
        @include navBarDesktop;
        
        .navList {

            a.navHome::before {
                transform: scaleY(1);
            }

        }
    }

    header {
        padding: $desktopPadding;
        height: 100vh;

        .boxesContainer {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 2;

            .boxOne {
                animation: boxOneAnimation 1s;
    
                .description {
    
                    p {
                        @include subHeadingTwo;
                        margin: 1.25rem 0;
                    }
    
                    p::before {
                        @include tanUnderline;
                        animation: tanUnderlineAnimation 2s;
                    }
                }
    
                .typingEffect {
    
                    h1 {
                        @include headingLightBlue;
                        margin: 0;
                    }
    
                    .typed-text {
                        @include headingDarkBlue;
                    }
                    
                    .cursor {
                      display: inline-block;
                      background-color: $blue;
                      margin-left: 0.1rem;
                      width: 3px;
                      animation: blink 1s infinite;
                      z-index: 1;
                    }
                    
                    .cursor.typing {
                      animation: none;
                      z-index: 1;
                    }
                }
    
                .title {
                    margin: -8% 0;
                    
                    h1 {
                        @include headingDarkBlue;
                        text-transform:capitalize;
                    }
    
                    span {
                        @include headingLightBlue;
                    }
                }
    
                .details {
                    padding: 1rem 0 0 0;
    
                    .myWork {
                        @include buttonNeutral;
                        transition: 0.25s all;
                        text-transform: capitalize;
                    }
    
                    .myWork:hover {
                        @include buttonNeutralHover;
                        transition: 0.25s all;
                    }
    
                    .letschatButton {
                        @include letsChatButton;
                        margin: 0 0 0 3rem;
                    }
    
                    .letschatButton::before {
                        @include letsChatButtonHover;
                        
                    }
    
                    .letschatButton:hover:before {
                        @include letsChatButtonHover;
                        transform: scaleY(1);
                    }
                }
            }
    
            .boxTwo {
                animation: boxTwoAnimation 1s;
                position: relative;
                z-index: 1;
    
                img {
                    @include illustration;
                }
            }

        }

        .portfolioBelow {
            position: absolute;
            top:85%;
            left:calc(50% - 6rem);

            img {
                width: 12rem;
                height: auto;
            }
        }
    }

    .background {
        @include backgroundLogo;
    }
}

section.portfolio {
    height: 100vh;
    padding: $desktopPadding;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .titleContainer {
        position: relative;

        .title {
            @include lineAnimationTitleBefore;
            
            h1 {
                @include subHeading;
                margin: 0;
                padding:0;
            }
        }

        .animationSection {
            @include marqueeContainer;
            animation: opactityChange 0.25s;
    

            .lineAnimationContainer {
                position: absolute;
                overflow: hidden;
                z-index: -2;
                bottom: 0;
                left:0;
                text-align: center;
        
        
                svg {
                    height:auto;
                    width: clamp(75vw, 80vw, 85vw);
                    margin: 0;
                    z-index: -2;
                }
            }
        }
    }

    .container {
        @include marqueeContainer;
        animation: opactityChange 0.25s;

        a {
            text-decoration: none;
        }

        .marqueeOne {
            @include marqueeTemplate;
        }

        .marqueeTwo {
            @include marqueeTemplate;
        }

        .marqueeThree {
            @include marqueeTemplate;
        }

        .marqueeFour {
            @include marqueeTemplate;
        }

        .marqueeFive {
            @include marqueeTemplate;
        }

        .marqueeSix {
            @include marqueeTemplate;
            display: none
        }

        .marqueeSeven {
            @include marqueeTemplate;
            display: none;
        }
    }
}

section.about {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: $desktopPadding;

    .titleContainerAbout {
        position: relative;

        .aboutTitle {
            @include lineAnimationTitleBefore

            h1 {
                @include subHeading;
                margin: 0;
                padding: 0;
            }
        }

        .animationSectionAbout {

            .lineAnimationContainerAbout {
                position: absolute;
                overflow: hidden;
                z-index: -2;
                bottom: 0;
                left:0;
                text-align: center;
        
        
                svg {
                    height:auto;
                    width: clamp(70vw, 75vw, 80vw);
                    margin: 0;
                    z-index: -2;
                }
            }
        }

    }


    .aboutGridContainer {
        height: 60vh;
        display: grid;
        grid-template-columns: calc(30% - 1rem) calc(37% - 1rem) calc(33% - 1rem);
        grid-column-gap: 1rem;
        grid-template-rows: 50% 50%;
        grid-row-gap: 1rem;
        grid-template-areas: 
        "imageOne imageTwo details"
        "imageOne imageThree details";
        opacity: 100%;
        transition: 0.5s all;

            .aboutImageOne {
                grid-area: imageOne;
                width: auto;
                height: 100%;
                background-image: url(/images/aboutImageOne.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .aboutImageTwo {
                grid-area: imageTwo;
                width: auto;
                height: 100%;
                background-image: url(/images/aboutImageTwo.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .aboutImageThree {
                grid-area: imageThree;
                width: auto;
                height: 100%;
                background-image: url(/images/aboutImageThree.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

            }

            .details {
                grid-area: details;
                width: auto;
                height: 100%;
                margin: 0;
                height: auto;
                position: relative;

                p {
                    @include paragraph;
                    margin: 0;
                    padding:0;
                }

                .contentContainer {
                    position: absolute;
                    bottom: 0;
                    
                    .signatureIcon {
                        width: calc(100% - 15rem);
                        height: auto;
                    }

                    .viewMore {
                        @include buttonNeutral;
                        text-transform: capitalize;
                        width: 100%;
                    }

                    .viewMore:hover {
                        @include buttonNeutralHover;
                        width: 100%;
                    }
                }
            }
        }
    
}

footer {
    @include defaultFooterDesktop;
}

section.portfolio.active {

    .container {
        @include lineAnimationTitleAfter
    }

    .titleContainer {
        
        .title {
            @include lineAnimationTitleAfter;
        }
    }
}

section.about.active {

    .aboutTitle {
        @include lineAnimationTitleAfter
    }

    .aboutGridContainer {
        opacity: 100%;
        transition: 0.5s all;
    }
}

@media only screen and (max-width: 1024px) {

    main {
        height: 100%;

        header {
            padding: $ipadPadding;

            .portfolioBelow {
                position: absolute;
                top:85%;
                left:calc(50% - 6rem);
    
                img {
                    width: 12rem;
                    height: auto;
                }
            }
        }

        nav {
            @include navBarTablet;
        }

        nav.active {
            @include navBarTabletActive;
        }
    }

    section.portfolio {
        height: 60%;
        padding: $ipadPadding;
        padding-bottom: 30rem;

        .container {
            .marqueeOne {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeTwo {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeThree {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeFour {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeFive {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeSix {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeSeven {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeSix {
                display: inherit;
            }

            .marqueeSeven {
                display: inherit;
            }
        }
        
        .animationSection {
            display: none;
        }
    }

    section.about {
        padding: $ipadPadding;
        padding-bottom: 50rem;
        height: 100%;

        .aboutGridContainer {
            height: clamp(30rem, 60vw, 50rem);
            display: grid;
            padding:0;
            margin: 0;
            grid-template-columns: calc(40% - 1rem) 60%;
            grid-column-gap: 1rem;
            grid-template-rows: 50% 50%;
            grid-row-gap: 1rem;
            grid-template-areas: 
            "imageOne imageTwo"
            "imageOne imageThree"
            "details details";

            .details {
                position: initial;

                .contentContainer {
                    position: initial;

                    .signatureIcon {
                        width: 30%;
                    }
                }
            }
        }

        .animationSectionAbout {
            display: none;
        }
    }

    footer {
        @include defaultFooterTablet;
    }

  }

@media only screen and (max-width: 650px) {
    main {
        height: 100%;

        nav {
            @include navBarMobile;
        }

        nav.active {
            @include navBarMobileActive;
        }

        header {
            padding: $mobilePadding;

            .boxesContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                .boxOne {
                    width: 100%;
                    padding: 0 0 5rem 0;

                    .description {

                        p {
                            font-size: $paragraphFontSizeClamp;
                        }

                    }

                    .typingEffect {
                        padding: 0 0 1rem 0;

                        .typingEffectOne::after {
                            content: "\a";
                            white-space: pre;
                        }
                    }
                }

                .boxTwo {
                    display: none;
                }
            }

            .portfolioBelow {
                position: absolute;
                top:62.5rem;
                left:calc(50% - 5rem);
                
                img {
                    width: 10rem;
                }
            }

        }

        .background {
            overflow-x: hidden;
            overflow-y: hidden;
            position: fixed;
            top: 45rem;
            right: -5rem;
            z-index: -1;

            svg {
                height: auto;
                width: 35rem;
            }
        }
        
    }

    section.portfolio {
        height: 100%;
        padding: $mobilePadding;
        padding-bottom: 30rem;

        .animationSection {
            display: none;
        }

        .container {

            .marqueeOne {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeTwo {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeThree {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeFour {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeFive {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeSix {

                span {
                    @include marqueeMobile;
                 }

            }

            .marqueeSeven {

                span {
                    @include marqueeMobile;
                 }

            }
        }
    }

    section.about {
        padding: $mobilePadding;
        padding-bottom: 50rem;
    }

    footer {
        @include defaultFooterMobile;
    }
}