@import "./_variables";
@import "./_keyframes";

body {
    @include body;
}

html {
    @include bodyDefault;
}

main {
    @include main

    nav {
        @include navBarDesktop;
        
        .navList {

            li.navPortfolio::before {
                transform: scaleY(1);
            }

        }
    }

    header {
        padding: $desktopPadding;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .title {
            animation: boxOneAnimation 1s;

            ul {
                list-style: none;
                text-decoration: none;
                padding: 0;
                margin: 0;

                li {
                    padding:0;

                    h1 {
                        @include headingDarkBlue;
                        padding: 0;
                        margin: 0;
                        font-size: $headingFontSizeClamp;
                    }

                    span {
                        @include headingLightBlue;
                        padding: 0;
                        margin: 0;
                        font-size: $headingFontSizeClamp;
                    }

                    h1.titleOutline {
                        -webkit-text-stroke: 1px $darkBlue;
                        color: transparent;
                    }

                    h1.titleOutline span {
                        -webkit-text-stroke: 1px $blue;
                        color: transparent;
                    }
                }

            }
        }

        .portfolioBelow {
            @include scrollBelow;
        }
    }

    .background {
        @include backgroundLogo;
    }
}

section.sectionOne {
    @include section;
    height: 100vh;

    .titleContainer {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 80% 20%;
        grid-template-rows: 100%;

        .title {
            @include lineAnimationTitleBefore;
            padding: 0 5rem 0 0;
            position: relative;    

            
            h1 {
                @include subHeading;
                margin: 0;
                padding:0;
            }

            p {
                @include paragraph;
            }

            .buttonContainer {
                position: absolute;
                bottom: -7rem;
                

                button {
                    @include buttonNeutral;
                }

                button:hover {
                    @include buttonNeutralHover;
                }

                
            }
        }

        .profile {
            @include lineAnimationTitleBefore02;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: auto;
                width: 100%;
            }
        }
        
        .buttonContainerMobile {
            visibility: hidden;
        }
    }
}

section.sectionTwo {
    @include section

    .titleContainerAbout {
        position: relative;

        .aboutTitle {
            @include lineAnimationTitleBefore

            h1 {
                @include subHeading;
                margin: 0;
                padding: 0;
            }
        }

        .animationSectionAbout {

            .lineAnimationContainerAbout {
                position: absolute;
                overflow: hidden;
                z-index: -2;
                bottom: 0;
                left:0;
                text-align: center;
        
        
                svg {
                    height:auto;
                    width: clamp(70vw, 75vw, 80vw);
                    margin: 0;
                    z-index: -2;
                }
            }
        }

    }


    .aboutGridContainer {
        height: 60vh;
        display: grid;
        grid-template-columns: calc(30% - 1rem) calc(37% - 1rem) calc(33% - 1rem);
        grid-column-gap: 1rem;
        grid-template-rows: 50% 50%;
        grid-row-gap: 1rem;
        grid-template-areas: 
        "imageOne imageTwo details"
        "imageOne imageThree details";
        opacity: 100%;
        transition: 0.5s all;

            .aboutImageOne {
                grid-area: imageOne;
                width: auto;
                height: 100%;
                background-image: url(/images/aboutImageOne.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .aboutImageTwo {
                grid-area: imageTwo;
                width: auto;
                height: 100%;
                background-image: url(/images/aboutImageTwo.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .aboutImageThree {
                grid-area: imageThree;
                width: auto;
                height: 100%;
                background-image: url(/images/aboutImageThree.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

            }

            .details {
                grid-area: details;
                width: auto;
                height: 100%;
                margin: 0;
                height: auto;
                position: relative;

                p {
                    @include paragraph;
                    margin: 0;
                    padding:0;
                }

                .contentContainer {
                    position: absolute;
                    bottom: 0;
                    
                    .signatureIcon {
                        width: calc(100% - 15rem);
                        height: auto;
                    }

                    .viewMore {
                        @include buttonNeutral;
                        text-transform: capitalize;
                        width: 100%;
                    }

                    .viewMore:hover {
                        @include buttonNeutralHover;
                        width: 100%;
                    }
                }
            }
        }
    
}

footer {
    @include defaultFooterDesktop;
}


section.sectionOne.active {

    .container {
        @include lineAnimationTitleAfter
    }

    .titleContainer {

        .title {
            @include lineAnimationTitleAfter;
        }
    }

    .profile {
        @include lineAnimationTitleAfter;
    }
}

section.sectionTwo.active {

    .aboutTitle {
        @include lineAnimationTitleAfter
    }

    .aboutGridContainer {
        opacity: 100%;
        transition: 0.5s all;
    }
}

@media only screen and (max-width: 1024px) {

    main {
        @include main

        header {
            padding: $ipadPadding;

            .title {
                animation: boxOneAnimation 1s;
    
                ul {
    
                    li {
    
                        h1.titleOutline {
                            -webkit-text-stroke: 1px $darkBlue;
                            color: transparent;
                        }
    
                        h1.titleOutline span {
                            -webkit-text-stroke: 1px $blue;
                            color: transparent;
                        }
                    }
    
                }
            }
        }

        nav {
            @include navBarTablet;
        }

        nav.active {
            @include navBarTabletActive;
        }
    }

    section.sectionOne {
        @include sectionTablet;
        height: 100vh;
    }

    section.sectionTwo {
        @include sectionTablet;
        height: 100vh;
    }

    footer {
        @include defaultFooterTablet;
    }

  }

@media only screen and (max-width: 650px) {
    main {
        @include main

        nav {
            @include navBarMobile;
        }

        nav.active {
            @include navBarMobileActive;
        }

        header {

            padding: $mobilePadding;

            .title {

                ul {

                    li {

                        h1 {
                            font-size: $headingFontSizeClamp02;
                        }

                        h1.titleOutline {
                            -webkit-text-stroke: 0.75px $darkBlue;
                            color: transparent;
                        }
    
                        h1.titleOutline span {
                            -webkit-text-stroke: 0.75px $blue;
                            color: transparent;
                        }
                                
                        span {
                            font-size: $headingFontSizeClamp02;
                        }

                    }
                }
                
            }
        }

        .background {
            @include backgroundLogoMobile
        }
        
    }

    section.sectionOne {
        @include sectionMobile;
        height: 100%;

        .titleContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 0 0 5rem 0;
    
            .title {
                @include lineAnimationTitleBefore;
                padding: 0 0 3rem 0;
    
                
                h1 {
                    @include subHeading;
                    margin: 0;
                    padding:0;
                }
    
                p {
                    @include paragraph;
                }

                .buttonContainer {
                    visibility:hidden;
                }
            }
    
            .profile {
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0 3rem 0;
    
                img {
                    height: auto;
                    width: 100%;
                }
            }

            .buttonContainerMobile {
                visibility: visible;
                width: 100%;

                button {
                    @include buttonNeutral;
                    width: 100%;
                }

                button:hover {
                    @include buttonNeutralHover;
                }
            }
        }
    }

    section.sectionTwo {
        @include sectionMobile;
        height: 100vh;
    }

    footer {
        @include defaultFooterMobile;
    }
}